background{
  primary
  color: #2ba6cb;
  secondary
  color: #e9e9e9;
  alert
  color: #c60f13;
  success
  color: #5da423;
  warning
  color: #ffae00;
}


background{
  primary
  color: #F9DBE0;
  secondary
  color: #EFD8DC;
  alert
  color: #FBE6DF;
  success
  color: #CAFFF1;
  warning
  color: #FFF6DC;
  COLOR; #be1933;

e01d3c
F9DBE0

COLOR #2b82ad
#e01d3c

}
